<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>512346065810-0678j98dgncrm939j96p84adlu844t5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512346065810-0678j98dgncrm939j96p84adlu844t5o</string>
	<key>API_KEY</key>
	<string>AIzaSyCS4lQxHXeeQ0lQjCrGGCaZ7XRdlGQ6um0</string>
	<key>GCM_SENDER_ID</key>
	<string>512346065810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Opia.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-cd5e5</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-cd5e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:512346065810:ios:9b62d5abc915fe2a</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-cd5e5.firebaseio.com</string>
</dict>
</plist>